.other-content{
    margin-top: 0px;/* push content below fixed header */
}
.container {
    position: relative;
    margin: calc(90px + .2rem) 8.2rem;
    margin-bottom: .2rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.container::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../images/owners.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    opacity: 0.2;
    z-index: -1;
}
.owners-img{
    width: 50%;
    object-fit: cover;
}
