.other-content{
    margin-top: 0px;/* push content below fixed header */
}
.container {
    position: relative;
    margin: calc(5rem + 1rem) 7rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.container::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../images/owners.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    opacity: 0.2;
    z-index: -1;
}
.owners-img{
    width: 48%;
    object-fit: cover;
}




/* OTHER SCREEN SIZES */
@media (max-width:1366px){
    .other-content{
        margin-top: 0px;/* push content below fixed header */
    }
    .container {
        margin: calc(3rem + .5rem) 5rem;
        margin-bottom: .5rem;
    }
    .owners-img{
        width: 42%;
        object-fit: cover;
    }
}
